<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Vivek Jain- Web Developer,ML Enthusiast,programmer</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <div class="sidebar sidebargo">
            
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="intro" name="intro">My Intro</a></li>
                    <li><a href="services">Services</a></li>
                    <li><a href="contact">contact</a></li>
                    <!-- <li><a href="blog.html">Blog</a></li> -->
                    <li><a href="contactme">Contact Me</a></li> 
                </ul>
            </nav>
        </div>
        <div class="main">
            <div class="hamburger">
                <!-- <img class="ham" src="ham.png" alt="ham1" width="22"> -->
                <img class="ham12" src="static/ham1.png" alt="ham1" width="22">
                <img class="cross" src="static/cross.png" alt="ham2" width="22">
            </div>
            <div class="infoContainer">
                <div class="devInfo">
                    <div class="hello"><p>Hi I am Vivek Jain</p></div>                    
                    <div class="about"><p>Web Developer,ML Enthusiast,learner</p></div>
                    <div class="buttons" name="button">
                        <a href="myresume">
                        <button name="myresume">Download CV</button></a>
                    </div>
                </div>
                {{!-- <div class="devpic"><img src="/static/ham1.png" alt="Vivek Jain" name="img"></div> --}}
            </div>
            
        </div>
    </div>
    
<script src="static/index.js"></script>

</body>
</html>
