<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vivek Jain- Web Developer,ML Enthusiast,programmer</title>
    {{!-- <link rel="stylesheet" href="style.css"> --}}
    <link rel="stylesheet" href="../static/style.css">
    </head>
<body>
    
    <div class="container">
        <div class="sidebar sidebargo">
            
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="intro">My Intro</a></li>
                    <li><a href="services">Services</a></li>
                    <li><a href="contact">contact</a></li>
                    <li><a href="contactme">Contact Me</a></li> 
                </ul>
            </nav>
        </div>
        <div class="main">
            <div class="hamburger">
                <img class="ham12" src="static/ham1.png" alt="ham1" width="22">
                <img class="cross" src="static/cross.png" alt="ham2" width="22">
            </div>
            <div class="infoContainer1" style="justify-content: center; padding-left:100px" >
                <h1 style="padding-left:5px; margin-top:20px;"><u>About Me</u></h1><br>
                <h3>Hi! I'm Vivek Jain - a Third year student of GEC Gandhinagar in field of Information Technology.</h3> 
                <h3>I am believe in atomicity,honesty and active learning.</h3>
                <h3>My cgpa is 8.64/10.</h3> 
                <h3>I'm 21 years old and live in Surat,Gujrat.</h3>
                <h3>If you want to know about me more then please contact me on Gmail.</h3>
                <h3>My Gmail at contact me page.</h3>
                <h1 style="padding-top: 30px;"><u>My Skills</u></h1> 
                <ul style="padding-left: 35px; padding-top: 10px;">
                    <li><h3>Backend Developer</h3></li>
                    <li><h3>Java</h3></li>
                    <li><h3>Python</h3></li>
                    <li><h3>Machine learning</h3></li>
                    <li><h3>Jupyter</h3></li>
                    <li><h3>PostgreSql</h3></li>
                </ul>
                <h1 style="padding-top: 30px;"><u>My Projects</u></h1>
                <h2 style="padding:10px;">1.Property Price Prediction</h2>
                <div class="neno" style="padding-left: 45px;">
                    <h3>In this project we have to find price of any property with help of machine learning and python library.</h3>
                    <h3>In this project we take banglore data.In this project project we predict price of any property on basis of the property sq.ft,bedroom and bathroom.</h3>
                    <h3>This is all about my project.</h3>
                </div>
                <h2 style="padding:10px;">2.My personal portfolio</h2>
                <div class="neno" style="padding-left:45px;">
                    <h3>This is my personal portfolio project which is build with help of HTML,CSS and JS.</h3>
                    <h3>In this portfolio all my personal details as well as all services provided by me also written.</h3>
                </div>
    
                <!-- <div class="infoContainer">
                    
                    
                <div class="devpic" style="padding-left: 500px;" style="margin: 0px;""><img src="vivek.jpeg" alt="Vivek Jain"></div>
                </div>
                -->
            </div>    
        </div>
    </div>
    {{!-- <script src="index.js"></script> --}}
<script src="static/index.js"></script>
</body>
</html>