<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vivek Jain- Web Developer,ML Enthusiast,programmer</title>
    {{!-- <link rel="stylesheet" href="style.css"> --}}
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <div class="sidebar sidebargo">
            
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="intro">My Intro</a></li>
                    <li><a href="services">Services</a></li>
                    <li><a href="contact">contact</a></li>
                    <li><a href="contactme">Contact Me</a></li>
                </ul>
            </nav>
        </div>
        <div class="main">
            <div class="hamburger">
                <img class="ham12" src="static/ham1.png" alt="ham1" width="22">
                <img class="cross" src="static/cross.png" alt="ham2" width="22">
            </div>
            <div class="infoContainer">
               <div class="first" style="padding-top: 80px;"> 
                    <h1 style="padding-bottom:25px;"><center><u>Services Provided by Me</u></center></h1>
                            <ul style="margin-left:50px ;">
                                <li style="margin-bottom: 10px;"><h3>Data Scientist</h3></li>
                                <li style="margin-bottom: 10px;"><h3>Web Developer</h3></li>
                                <li style="margin-bottom: 10px;"><h3>Java devloper</h3></li>
                                <li style="margin-bottom: 10px;"><h3>ML Engineer</li></h3></li>
                                <li style="margin-bottom: 10px;"><h3>SQL Developer</h3></li>
                                <li style="margin-bottom: 10px;"><h3>coder</h3></li>
                            </ul>
                </div>    
            </div>
            
        </div>
    </div>
    {{!-- <script src="index.js"></script>  --}}
    <script src="static/index.js"></script>
</body>
</html>
